.control {
  min-height: 33px;
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 0;
}

.loopButton {
  height: 33px;
  min-height: 33px;
  border: var(--border-fg);
}

.repeatInput {
  width: 108px;
  min-width: 108px;
}

@media (max-width: 720px) {
  .control {
    width: max-content;
  }
}
